.car-details {
  &__car-data-title,
  &__period-title {
    color: #3c3e44;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  &__car-data-row {
    margin-bottom: 20px;
  }

  &__car-data-row,
  &__period-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
}
