.customer-details {
  padding: 70px 0;

  &__info-title {
    color: #3c3e44;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  &__info-row,
  &__documents-row {
    margin-bottom: 20px;
  }

  &__info-row,
  &__documents-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

  &__info-address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }

  &__documents {
    background-color: rgba(0, 175, 255, 0.07);
    border-radius: 4px;
    padding: 15px 20px;
  }
}
