.customer-details {
  padding: 70px 0;

  &__info-title {
    color: #3c3e44;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  &__info-row {
    margin-bottom: 20px;
  }

  &__info-row:first-child,
  &__info-row:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

  &__info-row:nth-child(2),
  &__info-row:nth-child(4) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}
