.custom-text-input {
  position: relative;

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: #8c8c8c;

    &_error {
      color: #c11d1d;
    }
  }

  &__input {
    width: 100%;
    height: 44px;
    line-height: 22px;
    padding: 10px 15px 10px 15px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #3c3e44;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #cecece;
    box-shadow: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    appearance: none;

    &:hover,
    &:focus {
      border-color: rgba(13, 209, 73, 0.5);
    }

    &:disabled {
      border: 1px solid #cecece;
    }

    &_error {
      border-color: #c11d1d;

      &:hover,
      &:focus {
        border-color: #c11d1d;
      }
    }
  }

  &__error-message {
    position: absolute;
    bottom: -15px;
    width: auto;
    height: 12px;
    font-size: 12px;
    line-height: 1;
    color: #c11d1d;
  }
}
